<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="row">
          <span class="title pad-left-right">Contacts</span>
        </div>
        <div class="row">
          <div class="input-group pull-left pad-left-right col-xs-7">
            <input class="form-control" type="text" #searchBox onkeyup="search(searchBox.value)" placeholder="Enter a search value">
            <div class="glyphicon glyphicon-search input-group-addon" (click)="search(searchBox.value)"></div>
          </div>
          <div class="pull-right pad-left-right">
            <a class="btn btn-success" [routerLink]="['newContact']">New Contact</a>
            <!--<button (click)="onNewContact()" class="btn btn-success" style="margin-left: auto;">New Contact</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
  <app-contact-item
      *ngFor="let contactEl of contacts | contactsFilter: term; let i = index; " [contact]="contactEl" [index]="i"
      dnd-draggable [dragEnabled]="true" [dragData]="contactEl" [dropZones]="['contactGroup']"
  ></app-contact-item>
  </div>
</div>
